<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <div>
            <h6>{{post.date}}</h6>
        </div>
        <div>
            <h3>{{post.title}}</h3>
        </div>
        <br/>
        <div class="text-center">
            <img src="{{post.img}}" alt="" class="" style="width: 25%">
            <div class="tim-title" >
                <h4>{{content}} <a [routerLink]="['/posts']" class="btn btn-link btn-default" (click)="toggle()">{{toggleName}}</a></h4>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>


