<div class="wrapper">
    <div class="page-header page-header-small-xs" data-parallax="true" style="background-image: url('./assets/img/library/old-books-glass-cabinet.png');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                    <h1 class="presentation-small-title">Aranżacje</h1>
                <br />
            </div>
        </div>
    </div>
<div class="section" id="carousel" >
        <div class="container">
            <div class="title-brand">
            </div>
            <div class="tim-title">
            </div>
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/library/home-library-1.jpg" alt="">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/library/home-library-2.jpg" alt="">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/library/home-library-3.jpg" alt="">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/library/home-library-4.jpg" alt="">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Oto nasze propozycje</h2>
                    <p class="description">Przedstawione tu propozycje stanowią próbkę możliwych aranżacji. Każda realizacja będzie oczywiście inna gdyż uwzględnić musi układ pomieszczenia, światło, wielkość księgozbioru i preferencje właściciela.</p>
                </div>
            </div>
        </div>
    </div>
</div>
