<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/library/landing-screen.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Domowa Biblioteka</h1>
            <h3>Wyobraź sobie własną bibliotekę, ty i książki wygodne miejsce, cisza i pełne skupienie.
                Tak to jest to miejsce znalazłeś je. Na razie jest tylko w twojej wyobraźni ale my stworzymy je w realu.</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">W czym możemy Ci pomóc</h2>
                <h5 class="description">Zaprojektujemy wnętrze twojej domowej biblioteki, dostarczymy potrzebne meble, akcesoria i najwartościowsze książki oczywiście uwzględniając twoje preferencje.
                    To wszystko jak się to zwykło mawiać 'pod klucz'.</h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">Więcej</a> -->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Galeria rozwiązań</h4>
                        <p class="description">Tu możesz zabaczyć nasze propozycje aranżacji domowej biblioteki.</p>
                        <a href="/#/gallery" class="btn btn-link btn-danger">Galeria</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-book-bookmark"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Blog</h4>
                        <p>Oto nasz blog. Zapraszamy. Staramy się rozszerzać naszą wiedzę i dzielić się nią.</p>
                        <a href="/#/blog" class="btn btn-link btn-danger">Blog</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bank"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Księgozbiór</h4>
                        <p>Tu znajdziesz nasze propozycje księgozbiorów. Dobierzemy go pod twoje upodobania.</p>
                        <a href="/#/library" class="btn btn-link btn-danger">Księgozbiór</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-money-coins"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Cennik</h4>
                        <p>Tu znajdziesz więcej informacji o kosztach realizacji twojego projektu.</p>
                        <a href="/#/pricelist" class="btn btn-link btn-danger">Cennik</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">A oto my</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/slawek.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sławomir</h4>
                                <h6 class="card-category">Realizator Techniczny</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Oczywiście, że jestem świadomy pewnych ograniczeń nakładanych na nas przez otaczający świat. Ale bądzmy szczerzy większość z nich nakładamy sobie sami. Realizacja projektu to tak na prawdę walka ludzkiej woli ze światem. 
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/kasia.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Katarzyna</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Oczywiście Sławku prawie wszystko można jakoś zrealizować technicznie, ale to przecież musi działać na zmysły, uczucia to też są ograniczenia, za którymi trzeba podążać a nie z nimi walczyć.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Daj nam znać jeśli możemy ci pomóc</h2>
                    <br/><br/>
                    <div *ngIf="wasMailSent == 'Success'">
                        <ngb-alert [type]="'success'"  [dismissible]="false">
                            <div class="container">
                                {{ mailResponse }}
                                <button type="button" name="button" class="close" (click)="closeAlert()">
                                    <i class="nc-icon nc-simple-remove"></i>
                                </button>
                            </div>
                        </ngb-alert>
                    </div>
                    <div *ngIf="wasMailSent == 'Error'">
                            <ngb-alert [type]="'danger'"  [dismissible]="false">
                            <div class="container">
                                {{ mailResponse }}
                                <button type="button" name="button" class="close" (click)="closeAlert()">
                                    <i class="nc-icon nc-simple-remove"></i>
                                </button>
                            </div>
                        </ngb-alert>
                    </div>
                    <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Imię</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Twoje imię" (focus)="focus=true" (blur)="focus=false" 
                                    name="name" ngModel required #name="ngModel">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" 
                                            name="email" ngModel required #email="ngModel">
                                </div>
                            </div>
                        </div>
                        <label>Wiadomość do nas</label>
                        <textarea class="form-control" rows="4" placeholder="Napisz jeśli jesteś zainteresowany lub prześlij nam twoją opinię."
                            name="messages" ngModel required #messages="ngModel"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <input type="submit" value="Wyślij" class="btn btn-danger btn-lg btn-fill" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
